%label Name
%input{type: 'text', 'ng-model' => 'client.name', 'ng-change' => 'onClientChanged()'}
%br
%label Gender
%select{'ng-model' => 'client.gender_id', 'ng-options' => 'gender.id as gender.name for gender in genders', 'ng-change' => 'onClientChanged()'}

%label No. Children
%input{type: 'number', 'ng-model' => 'client.children', 'ng-change' => 'onClientChanged()'}
%label Overnights
%input{type: 'number', 'ng-model' => 'client.overnights', 'ng-change' => 'onClientChanged()'}
%label Monthly Income
%input{type: 'number', 'ng-model' => 'client.income', 'ng-change' => 'onClientChanged()'}
%label Spouse's Monthly Income
%input{type: 'number', 'ng-model' => 'client.spouse_income', 'ng-change' => 'onClientChanged()'}
%label Maintenance Paid
%input{type: 'number', 'ng-model' => 'client.maintenance_paid', 'ng-change' => 'onClientChanged()'}
%label Maintenance Received
%input{type: 'number', 'ng-model' => 'client.maintenance_received', 'ng-change' => 'onClientChanged()'}

%h1 {{calculatedSupport}}

/ %table.table.table-striped
/   %thead
/     %tr
/       %th Type
/       %th Amount
/   %tbody
/     %tr{'ng-repeat' => 'record in client_records'}
/       %td
/         %select{'ng-model' => 'record.record_type_id', 'ng-options' => 'rt.id as rt.name for rt in record_types', 'ng-change' => 'onClientRecordChanged(record)'}
/       %td
/         %input{type: 'number', 'ng-model' => 'record.amount', 'ng-change' => 'onClientRecordChanged(record)'}

/ %button.btn.add-button.pull-right{'ng-click' => 'addClientRecord()'} ADD ENTRY