.row
  .edit-client-row.col-sm-6.col-lg-4
    %label Name
    %input.form-control{type: 'text', 'ng-model' => 'client.name', 'ng-change' => 'onClientChanged()'}
  .edit-client-row.col-sm-6.col-lg-4
    %label Gender
    %select.form-control{'ng-model' => 'client.gender_id', 'ng-options' => 'gender.id as gender.name for gender in genders', 'ng-change' => 'onClientChanged()'}

  .edit-client-row.col-sm-6.col-lg-4
    %label No. Children
    %input.form-control{type: 'number', 'ng-model' => 'client.children', 'ng-change' => 'onClientChanged()'}
  .edit-client-row.col-sm-6.col-lg-4
    %label Overnights
    %input.form-control{type: 'number', 'ng-model' => 'client.overnights', 'ng-change' => 'onClientChanged()'}
  .edit-client-row.col-sm-6.col-lg-4
    %label Monthly Income
    %input.form-control{type: 'number', 'ng-model' => 'client.income', 'ng-change' => 'onClientChanged()'}
  .edit-client-row.col-sm-6.col-lg-4
    %label Spouse's Monthly Income
    %input.form-control{type: 'number', 'ng-model' => 'client.spouse_income', 'ng-change' => 'onClientChanged()'}
  .edit-client-row.col-sm-6.col-lg-4
    %label Maintenance Paid
    %input.form-control{type: 'number', 'ng-model' => 'client.maintenance_paid', 'ng-change' => 'onClientChanged()'}
  .edit-client-row.col-sm-6.col-lg-4
    %label Maintenance Received
    %input.form-control{type: 'number', 'ng-model' => 'client.maintenance_received', 'ng-change' => 'onClientChanged()'}
  .edit-client-row.col-sm-6.col-lg-4{'ng-repeat' => 'record in clientRecords'}
    .other-adjustment
      .row
        .col-xs-12
          %label Label
          %input.form-control{type: 'text', 'ng-model' => 'record.name', 'ng-change' => 'onClientRecordChanged(record)'}
      .row
        .col-xs-5
          %label Amount
          %input.form-control{type: 'number', 'ng-model' => 'record.amount', 'ng-change' => 'onClientRecordChanged(record)'}
        .col-xs-2
          %label {{record.is_subtracted && 'Subt.' || 'Add.'}}
          .switch-wrapper
            %input{type: 'checkbox', 'ng-model' => 'record.is_subtracted', 'ng-change' => 'onClientRecordChanged(record)', 'ng-checked' => 'record.is_subtracted'}
        .col-xs-5
          %button.btn.btn-danger{'ng-click' => 'removeClientRecord(record)'} Remove
  .edit-client-row.col-sm-12
    %button.btn.btn-success.add-button.pull-right{'ng-click' => 'addClientRecord()'} Add Other Adjustment
.row
  %h3.col-sm-12 {{calculatedSupport}}
