%h1 Your Clients
/ .client-list
/   .client-list-entry{'ng-repeat' => 'client in clients'}
/     {{client.name}}
%table.table.table-striped
  %tbody
    %tr{'ng-repeat' => 'client in clients'}
      %td {{client.name}}
      %td
        %a.btn.pull-right{href: '#/clients/{{client.id}}'} EDIT
        %button.btn.pull-right DELETE
%button.pull-right.btn{'ng-click' => 'addNewClient()'}
  %i.icon-plus
  %span ADD CLIENT