.cs-navbar
  .container
    .row
      .col-sm-12
        .pull-left.cs-navbar-title {{navInfo.title}}
        %a.pull-right.signOutButton{href: '#'} Sign Out
        %a.pull-right{'ng-href' => '{{navInfo.backReference}}', 'ng-show' => 'navInfo.backReference'} BACK
  / %ul.cs-nav.cs-navbar-right
  /   %li
  /     %a{'ng-href' => '{{navInfo.backReference}}', 'ng-show' => 'navInfo.backReference'} BACK
