// import the CSS framework
// @import "bootstrap-responsive";
@import "bootstrap/bootstrap-theme";
@import "bootstrap/bootstrap";


.home-client-table {
  .edit-button {
    margin-left: 10px;
  }
}

.content {
  margin-top: 50px;
}

.edit-client-row {
  margin-top: 10px;
}

.cs-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #3276b1;
  color: #F6F6F6;
  z-index: 5;
  line-height: 50px;

  a {
    color: #F6F6F6;
  }

  .cs-navbar-title {
    font-size: 25px;
  }
}
